html {
    font-family: sans-serif;
  }
  div
  {
    /* sizing and positioning the text*/
    width :200px;
    height: 200px;
    margin: auto;
    line-height: 9;

    /* word */
    font-size: 1.1rem;
    text-align: center;
    color: white;
    /* Text shadow */
    text-shadow: 1px 1px 1px black;

    /* boarder radius */
    border-radius:10px ;
    border:1px solid #990000;


    
    background-color: #990000;
  }


  /* Your CSS below here */