html {
    font-family: sans-serif;
  }
  div
  {
    /* sizing and positioning the text*/
    width :200px;
    height: 200px;
    margin: auto;
    line-height: 9;

    /* word */
  font-size: 1.1rem;
  text-align: center;
  color: white;


  }

  
  /* Your CSS below here */